.header {
    border-bottom: 1px solid #eee;
    position: relative;
    width: 100%;
    z-index: 998;
    padding-bottom: 1px;
    background: #121212;
}

.header::after {
    border-bottom:1px solid #121212;
    width: 100%;
    position: absolute;
    content: "";
    height: 2px;
    bottom: 1px;
    left: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 300;
    font-size: 14px;
    color:#fff;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/wall.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
    opacity: 1;
    
}

body, html{
    overflow-x:hidden;
}

.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}


.navbar-custom,
.navbar-custom .dropdown-menu {
    background: #121212;
    padding: 0;
}

.navbar-custom ul li a span{
    margin-left:5px;
}

.navbar-custom .dropdown-menu {
    margin-top:10px;
    display: block;
    visibility: hidden;
    opacity:0;
    border: 1px solid #121212;
    border-top: 2px solid #ffbb00;
    border-radius: 0;
    border-bottom: 3px double #121212;
    background-color: #121212;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition:all 400ms;
}

.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}
.navbar-custom .navbar-nav > li:hover .dropdown-menu{
    display: block;
    opacity:1;
    visibility: visible;
    margin-top:-2px;
}

.navbar-custom .navbar-nav > li > a{
    color: #ffbb00;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.navbar-custom .dropdown-menu > li{
    border-bottom: 1px solid #F0F0F0;
}

.navbar-custom .dropdown-menu > li:last-child{
    border-bottom: 0;
}

.navbar-custom .dropdown-menu > li > a {
    padding: 10px 20px;
    color: #ffbb00;
    font-size: 14px;
    font-weight: 700;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active > a {
    background: none;
    outline: 0;
    color: #0078FF;
}


.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
    background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #ffbb00;;
}


.circle{
    width:200px;
    height: 200px;
    float: left;
    background-image: url("img/pic.png");
    background-repeat:no-repeat;
    border-radius: 50%;
    shape-outside: circle();
    margin: 50px 15px 30px 0px;
}
p{
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height:  22px;
    font-size: 23px;
}
.container h1{
    margin: 0 0 20px;
    padding: 0;
    font-size: 45px;
    
}

.section-title {
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: #2c3e50;
    position: relative;
}

.section-title::after {
    content: "";
    background: url(g) no-repeat 0 0;
    height: 15px;
    width: 113px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: 0 auto;
}

.img-responsive{
    display: inline;
}

.resume-title h3{
    text-align: center;
}
.resume-section > div > div{
    margin-bottom: 60px;
}
.resume-section > div > div:nth-of-type(2){
    margin-bottom: 0;
}
.resume-title{
    margin-bottom: 30px;
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.resume{
    position: relative;
}

.resume:before{
    content: "";
    position: absolute;
    top: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.resume:after{
    content: "";
    position: absolute;
    bottom: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: #ffbb00;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: left;
    position: relative;
    width: 100%;
}

.timeline-content{
    padding:5px 20px 0 20px;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .posted-date {
    position: relative;
    text-align: center;
    background-color: #ffbb00;
    left: 20px;
}


.timeline>li .posted-date .month {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    color: #ffbb00;
    top: 0;
    float: left;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline-heading h3 {
    font-size: 20px;
    line-height: 28px;
}
.timeline-heading span{
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
}
#aboutme {
    text-align: center;
}

.more-skill{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



@media(min-width:992px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 15px;
        min-height: 100px;
    }

    .timeline>li .posted-date {
        position: absolute;
        text-align: center;
        background-color: #fff;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 43%;
        text-align: right;
        border: 1px solid #eee;
        position: relative;
    }

    .timeline-content{
        position: relative;
        padding: 24px;
        background-color: #0074D9;
        -webkit-transition:all 400ms;
        -moz-transition:all 400ms;
        -o-transition:all 400ms;
        transition: all 400ms;
    }

    .timeline-content::after{
        border: 1px solid transparent;
        width: 100%;
        position: absolute;
        content: "";
        bottom: -3px;
        height:10px;
        left: 0;
        z-index: -1;
    }

    .timeline>li .timeline-content:hover {
        background: #ffbb00;
        color: #fff;
    }

    .timeline>li .timeline-panel::before,
    .timeline>li.timeline-inverted .timeline-panel::before {
        content: "";
        top: 25px;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .timeline>li .timeline-panel::before {
        left: 100%;
        border-left: 12px solid #ECECEC;
        -webkit-transition:all 400ms;
        -moz-transition:all 400ms;
        -o-transition:all 400ms;
        transition: all 400ms;
    }
    .timeline>li .timeline-panel:hover::before {
        border-left: 12px solid #ffbb00;
    }

    .timeline>li.timeline-inverted .timeline-panel::before {
        right: 100%;
        border-right: 12px solid #ECECEC;
        -webkit-transition:all 400ms;
        -moz-transition:all 400ms;
        -o-transition:all 400ms;
        transition: all 400ms;
    }
    .timeline>li.timeline-inverted .timeline-panel:hover::before {
        border-right: 12px solid #ffbb00;
        border-left: 0;
    }

    .timeline>li .timeline-panel::after,
    .timeline>li.timeline-inverted .timeline-panel::after {
        content: "";
        top: 25px;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .timeline>li .timeline-panel::after {
        left: 100%;
        margin-left: -2px;
        border-left: 12px solid #FFFFFF;
        -webkit-transition:all 400ms;
        -moz-transition:all 400ms;
        -o-transition:all 400ms;
        transition: all 400ms;
    }
    .timeline>li .timeline-panel:hover::after {
        border-left: 12px solid #ffbb00;
    }

    .timeline>li.timeline-inverted .timeline-panel::after {
        right: 100%;
        margin-right:-2px;
        border-right: 12px solid #FFFFFF;
        -webkit-transition:all 400ms;
        -moz-transition:all 400ms;
        -o-transition:all 400ms;
        transition: all 400ms;
    }
    .timeline>li.timeline-inverted .timeline-panel:hover::after {
        border-right: 12px solid #68c3a3;
        border-left: 0;
    }

    .timeline>li .posted-date {
        left: 50%;
        width: 120px;
        margin-left: -60px;
        margin-top: 28px;
    }
    .timeline>li .posted-date .month {
        float: none;
    }

}

#skillsok row{
    position: relative;
    margin: 0%;
}


  /* Add a background color and some padding around the form */


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid transparent; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  #subject, #lname, #fname, #emails, #messages{
      color: #121212
  }

.copyright p{
    text-align: center;
}

#blank{
    height: 10px;
    background-color: transparent;
}

#mainpage{
    padding-top: 10%;
    text-align: center;
    justify-content: center;
}

#mainpage p{
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.clock{
    font-size: 55px;
    color:#0368FF;
    text-align: center;
    padding-top: 5%;
    -webkit-animation: clock 1s ease-in-out infinite alternate;
    -moz-animation: clock 1s ease-in-out infinite alternate;
    animation: clock 1s ease-in-out infinite alternate;

}

@-webkit-keyframes clock {
    from {
       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0368FF, 0 0 40px #FF9000, 0 0 50px #0368FF, 0 0 60px #FF9000, 0 0 70px #0368FF;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #FF9000, 0 0 40px #0368FF, 0 0 50px #FF9000, 0 0 60px #FF9000, 0 0 70px #FF9000;
    }
  }