body{
    margin: 0;
    padding: 0;
    position: relative;
    background-repeat:no-repeat;
    background-attachment: fixed;
    color: white;
    background-size: cover;
}

.navbar{
    background-color: #121212;
    padding : 0px;
    padding-left: 20px;
}

.navbar .navbar-brand{
    color:  #c9aa71;
    font-weight: bolder;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

.navbar a:hover{
    color: #f9d77e !important;
    text-decoration: none;
}

.navbar .navbar-nav{
    margin: 0 auto;
}

.navbar .nav-item a{
    
    color: #c9aa71 !important;
    font-size: 2em;
    font-family: "Times New Roman";
    display: inline-block;
}


.navbar .nav-item a:hover{
    color: #f9d77e !important;
}

.navbar li{
    padding-right: 125px;
}

.custom-toggler.navbar-toggler {
    border-color: #c9aa71;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#c9aa71' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item .current{
    text-decoration: underline;
}

.myNavigationBar{
    position: relative;
}
.container{
    background-color: transparent;
    height: 90%;
    padding-top: 25px;
}

.circle{
    width:200px;
    height: 200px;
    float: left;
    background-image: url("/img/pic.png");
    background-repeat:no-repeat;
    border-radius: 50%;
    shape-outside: circle();
    margin: 55px 30px 30px 0px;
}
p{
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height:  22px;
    font-size: 23px;
}
.container h1{
    margin: 0 0 20px;
    padding: 0;
    font-size: 45px;
}

.midHead{
    font-size: 50px;
    position: absolute;
    padding: 0%;
}

#next a{
    margin : 0;
    padding: 0;
    float: right;
}

#left a{
    margin : 0;
    padding: 0;
    float: right;
}

.clock{
    font-size: 100px;
    color: red;
    text-align: center;
    padding-top: 20%;
    -webkit-animation: clock 1s ease-in-out infinite alternate;
    -moz-animation: clock 1s ease-in-out infinite alternate;
    animation: clock 1s ease-in-out infinite alternate;
}

@-webkit-keyframes clock {
    from {
       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }





